In [2]:
import pandas as pd
data = pd.read_csv('input.csv')
print (data)

   id    name  salary  start_date        dept
0   1    Rick  623.30  2012-01-01          IT
1   2     Dan  515.20  2013-09-23  Operations
2   3   Tusar  611.00  2014-11-15          IT
3   4    Ryan  729.00  2014-05-11          HR
4   5    Gary  843.25  2015-03-27     Finance
5   6   Rasmi  578.00  2013-05-21          IT
6   7  Pranab  632.80  2013-07-30  Operations
7   8    Guru  722.50  2014-06-17     Finance

In [4]:
import pandas as pd
data = pd.read_csv('input.csv')

# Slice the result for first 5 rows
print (data[0:5]['salary'])

0    623.30
1    515.20
2    611.00
3    729.00
4    843.25
Name: salary, dtype: float64

In [6]:
import pandas as pd
data = pd.read_csv('input.csv')

# Use the multi-axes indexing funtion
print (data.loc[:,['salary','name']])

   salary    name
0  623.30    Rick
1  515.20     Dan
2  611.00   Tusar
3  729.00    Ryan
4  843.25    Gary
5  578.00   Rasmi
6  632.80  Pranab
7  722.50    Guru

In [8]:
import pandas as pd
data = pd.read_csv('input.csv')

# Use the multi-axes indexing funtion
print (data.loc[[1,3,5],['salary','name']])

   salary   name
1   515.2    Dan
3   729.0   Ryan
5   578.0  Rasmi

In [9]:
import pandas as pd
data = pd.read_csv('input.csv')

# Use the multi-axes indexing funtion
print (data.loc[2:6,['salary','name']])

   salary    name
2  611.00   Tusar
3  729.00    Ryan
4  843.25    Gary
5  578.00   Rasmi
6  632.80  Pranab

In [13]:
import pandas as pd

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','Chanchal','Gasper','Naviya','Andres']),
   'Age':pd.Series([25,26,25,23,30,25,23,34,40,30,25,46])}
#Create a DataFrame
df = pd.DataFrame(d)

print (df.mode())

        Name   Age
0     Andres  25.0
1   Chanchal   NaN
2     Gasper   NaN
3       Jack   NaN
4      James   NaN
5        Lee   NaN
6     Naviya   NaN
7      Ricky   NaN
8      Smith   NaN
9      Steve   NaN
10       Tom   NaN
11       Vin   NaN